<div id="buttons-container" class="flex gap-6 text-white">
  <a href="/publication/edit/:id"><button  id="edit-button" class="w-20 h-10 bg-primary-indigo rounded-md">Edit</button></a>
  <button id="delete-button" class="w-20 h-10 bg-primary-fuchsia rounded-md">Delete</button>
  <a href="/publication/edit/:id"><button  id="edit-button" class="w-20 h-10 bg-primary-lilac rounded-md">Profile</button></a>
</div>
