<nav class="navbar-section">

  <a href="/" class="navbar-logo-container"><img src="/images/logo.png" alt=""></a>
  <div class="navbar-burger"><span class="material-icons">menu</span></div>
<div class="navbar-list-container">
  <div class="close-button"><span class="material-icons">close</span></div>
  <ul class="navbar-list">

        <!--<li class="navbar-list-item">Mis publicaciones</li>-->
        <li class="navbar-list-item"><a href="/">Inicio</a></li>
        <li class="navbar-list-item "> <a href="#"><div></div></a></li>
  </ul>
</div>
</nav>
