<article class="post-item">
  <a href="/publication"><img src="/images/post-image.jpg" alt=""></a>

  <div class=" flex flex-wrap gap-2">
    <div class="post-item-categories">
      <h5>Technology</h5>
  </div>
  </div>

    <div class="post-item-title"><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, unde alias.</h2></div>
    <div class="post-item-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam rem necessitatibus dicta assumenda inventore repellat dignissimos quibusdam nobis quaerat officiis reprehenderit.</div>

    <div class="post-author-container">
        <div class="author-image"></div>
        <div class="author-name">Elon Musk</div>
        <div class="post-item-date">May 02, 2022</div>

    </div>
</article>
