<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <title>Home</title>
</head>
<body>
    <header class="header-section">

        <% include _nav.ejs %>

        <div class="hero-container">
          <div class="order-2 md:order-1 mt-10">
            <h1 class="text-5xl  font-semibold">
              Transforma
            </h1>
            <h2 class="text-5xl  font-semibold mt-2 mb-5">
              la <span class="text-primary">realidad</span>
            </h2>
            <h3 class="text-xl  font-bold opacity-70 mt-11"></h3>
            <a href="#about"  class="btn-primary">Sobre mí</a>
          </div>

          <!--Hero container-->

          <div class="container-hero-image">
            <img class = "object-cover  w-full h-full opacity-90 object-center" src="./assets/images/hero-code.jpg" alt="">
            <img class = "object-cover w-full h-full opacity-90 object-center" src="./assets/images/hero-idea.jpg" alt="">
            <img class = "object-cover w-full h-full opacity-90 object-center" src="./assets/images/hero-phrase.jpg" alt="">

          </div>
        </div>

    </header>
    <div id="notification-container" class="w-40">
    </div>
    <main class="main-section">
        <section class= "recent-post-section">
            <div class="recent-post-section-title"><h3>Publicaciones recientes</h3></div>

        </section>
    </main>
    <% include _footer.ejs %>
    <script type='module' src="/javascripts/app.js"></script>
    <script type='module' src="/javascripts/Navigation/NavigationController.js"></script>
</body>
</html>
