<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <title>Home</title>
</head>
<body>
    <header class="header-section">

        <% include _nav.ejs %>

        <div class="hero-container">
            <div class="hero">
                <h1> Bend Reality</h1>
            </div>
        </div>

    </header>
    <div id="notification-container" class="w-40">
    </div>
    <main class="main-section">
        <section class= "recent-post-section">
            <div class="recent-post-section-title"><h3>Publicaciones recientes</h3></div>

        </section>
    </main>
    <% include _footer.ejs %>
    <script type='module' src="/javascripts/app.js"></script>
    <script type='module' src="/javascripts/Navigation/NavigationController.js"></script>
</body>
</html>
