<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <title>Login</title>
</head>
<body>
<main class="main-section">
    <div class="form-container">
        <div class="form-title">
            <h1>Login</h1>
        </div>
        <div id="notification-container">
        </div>
        <form class="form-content">
            <input type="text" placeholder="Username" id="inputUserName" name="inputUserName">
            <input type="password" placeholder="Password" id="inputPassword" name="inputPassword">
            <button type="submit" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline">Login</button>
        </form>
        <a  class="text-white" href="/auth/signUp">Registrarse</a>
    </div>
</main>
<script type="module" src="/javascripts/Login/login.js"></script>
</body>
</html>
