<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/postDetail.css">
      <link rel="stylesheet" href="/stylesheets/reset.css">
      <link rel="stylesheet" href="/stylesheets/footer.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <title>PostDetail</title>
</head>
<body>
    <header class="header-section">
        <% include _nav.ejs %>
    </header>
    <main class="main-section">
        <section class="post-detail-section">
          <div id="notification-container" class="w-40"></div>
            <div class="post-detail-container" id="<%=data._id %>">
                
            </div>
            <div class="post-detail-comments-section">
                <div class="post-detail-comments-title">Comentarios</div>
                <div class="post-detail-comments-container">
                    <div class="post-detail-comment-published">
                        <img src="/images/profile-image-2.jpeg" alt="">
                        <h5>Jim Kwik</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem ad, autem fugiat eum voluptas deserunt quasi doloremque impedit.</p>
                    </div>

                    <div class="post-detail-comment-published">
                        <img src="/images/profile-image-2.jpeg" alt="">
                        <h5>Jim Kwik</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem ad, autem fugiat eum voluptas deserunt quasi doloremque impedit.</p>
                    </div>

                    <div class="post-detail-comment-published">
                        <img src="/images/profile-image-2.jpeg" alt="">
                        <h5>Jim Kwik</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem ad, autem fugiat eum voluptas deserunt quasi doloremque impedit.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include _footer.ejs %>
    <script type="module" src="/javascripts/Publication/publicationDetail.js"></script>
</body>
</html>
