
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <title>Document</title>
</head>
<body  class="bg-primary-backGray">
<% include _nav.ejs %>
<main class="w-full flex justify-center mt-44">
    <div class="profile-container  w-3/4 max-w-xs bg-primary-gray h-[450px] text-white p-8 rounded-lg flex flex-col items-center">
      <div class="user-image h-52 flex justify-center">
        <% if (userData.image) { %>
          <img class="w-40 h-40 object-cover rounded-[50%]" src="<%= userData.image %>" alt="">
         <% } else { %>
          <div class="bg-primary-darkBlue rounded-[50%] text-white w-24 h-24 flex justify-center items-center  align-middle"><h1 class="self-center font-bold text-lg"><%=userData.name.split("")[0].toUpperCase()  %><%= userData.lastName.split("")[0].toUpperCase()  %> </h1></div>
          <%   }  %>

      </div>
      <div class="user-name font-semibold flex justify-center text-lg">
        <h1>Liam Neesson</h1>
      </div>
      <div class="user-biography flex justify-center">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicam.em</p>
      </div>
      <div class="user-email flex gap-3 mt-6" >
        <label for="">Email :</label>
        <p>example@htmail.com</p>
      </div>

      <a href="/user/profile/edit/<%- userData.userName %>"><button class="w-44 h-10 bg-primary-indigo self-center mt-8"> Editar</button></a>
    </div>
</main>
</body>
</html>:
