
    .post-detail-section {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
    }

    .post-detail-container {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

     /* Post item*/

     .post-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;

    }

    .post-item .post-image{
        width: 100%;
        border-radius: 9px;
    }

    .post-item-categories {
        display: flex;
    }

    .post-item-categories small {

        padding: 0.8rem;
        border: 2px solid #303E8C;
        border-radius: 15px;
    }

    .post-author-container {
        display: grid;
        grid-template-columns: 3.7rem 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .author-image {
        width: 3.7rem;
        height: 3.7rem;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        grid-column: 1;
        grid-row: 1/ span 2;
    }


    .author-name{
        padding: 0.1rem;
        margin-left: 0;
    }

    .post-written-by{
        width: 100%;
        max-width: 30rem;
        border-radius: 12px;
        background-color:#212940 ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column ;
        align-self: center;
        padding: 2rem;
        gap: 1rem;
        margin-top: 3.5rem;
    }

    .post-written-author-short-biography p {
        text-align: center;
    }

    .post-written-by-title {
        margin-bottom: 1.5rem;
    }

    /*Post item comments*/

    .post-detail-comments-section {
        display: flex;
        flex-direction: column;
        width: 85%;
        color: white;


    }

    .post-detail-comments-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 35rem;
    }

    .post-detail-comment-published {
        display: grid;
        grid-template-columns: auto 1fr 1fr ;
        grid-template-rows: auto 1fr;
        color: white;


    }

    .post-detail-comment-published img {
        width: 2.6rem;
        border-radius: 50%;
        grid-row: 1 /span 2;
        display: flex;
        justify-self: end;
        margin: 1rem;
    }

    .post-detail-comment-published h5{
        grid-column: 2/3;
        padding: 1rem 0;
    }

    .post-detail-comment-published p {
        grid-column: 2/span 2;
    }

    .post-detail-comments-title {
        margin: 1.5rem;
    }

@media screen and (min-width:720px) {
    .post-written-by {
        margin-top: 6rem;
    }

    .post-item-content {
        margin-top: 3rem;
        width: 85%;
        line-height: 1.5rem;
    }

    .post-item .post-image {
        width: 85%;
        border-radius: 9px;
    }


}
